style1 {
    margin: 50px;
    position: relative;
}

body {
    background-image: url(./assets/background1.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 100vh;
}

nav {
    width: 100vw;
    margin: auto 0;
    border-bottom: 2px solid;
    margin-bottom: 20px;
    border-top: 2px solid;
    
}
.nav-1 ul li {
    font-size: 30px;
    display: inline;
    padding: 10px;
    
}

.nav-1 ul li:hover{
    background-color: black;
    color: white;
}
p {
    color: blue;
}

.link-deco {
    text-decoration: none;
    font-size: 100px;
}

.link-deco:hover {
    text-decoration: underline;
    color: red !important;
    font-style: italic;
    transition: .5s;
}

.link-deco:link {
    color: black;
}

#btn-custom {
    background-color: purple;
    border-radius: 100px;
    size: 1000px;
    border-color: transparent;
    cursor: pointer;
    font-size: 100px;
}

#btn-custom:hover {
    color: red;
    background-color: blue;
    border-radius: 0px;
    transition: .20s;
}

ol li {
    list-style-type: upper-roman;
    font-size: 100px;
}



#table-custom {
    border-collapse: collapse;
    

}
#table-custom th,td {
    border: 2px solid black;
    padding: 20px;
}



#table-custom tr:first-child {
    background-color: gray;
    color: black;
}

#table-custom tr:hover {
    background-color: gray ;
    transition: .5s;
}

#form1 {
    position: relative;
}

form {
    width: 400px;
    margin: auto;
    padding: auto;
    border: 3px solid #f1f1f1;
    
}

.section-hero1 {
    width: 100vw;

    .img-cat {
        width: 40%;
        height: 30%;
        display: flex;
        padding: auto;
        margin: auto;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 100%;
        transition: .5s;
        filter: blur(10px) drop-shadow(-2.5px 10px 5rem black);
        border: 2px solid red;
        
    }

    .img-cat:hover {
        border-radius: 0%;
        filter: blur(0px) drop-shadow(-2.5px 10px 5rem red);
        border: 2px solid red;
        width: 60%;
        height: 50%;
    }
    
}

.login {
    border-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
}

.mb-2 {
    margin-bottom: 20px;
}